.idea/
/coverage/
/vendor/
/logs/*
!/logs/README.md
public/favicon.ico
public/index.html
public/main-es2015.js
public/main-es2015.js.map
public/main-es5.js
public/main-es5.js.map
public/polyfills-es2015.js
public/polyfills-es2015.js.map
public/polyfills-es5.js
public/polyfills-es5.js.map
public/runtime-es2015.js
public/runtime-es2015.js.map
public/runtime-es5.js
public/runtime-es5.js.map
public/styles-es2015.js
public/styles-es2015.js.map
public/styles-es5.js
public/styles-es5.js.map
public/vendor-es2015.js
public/vendor-es2015.js.map
public/vendor-es5.js
public/vendor-es5.js.map
